<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <a href="/users">See all users</a>
    <h1>Write A Tweet</h1>
    <form action="/save_tweet" method="POST">
        <p><input type="text" name="tweet"></p>
        <input type="submit" value="Submit">
    </form>
    <div id="just_tweets">
        {% for tweet in followed_tweets %}
            <p>{{tweet.tweet_content}}</p>
            <form action="/tweets/{{tweet.id}}/delete", method='POST'>
                <input type="submit" value="Delete">
            </form>
            <form action="/tweets/{{tweet.id}}/like", method='POST'>
                <input type="submit" value="Like">
            </form>
        {% endfor %}
    </div>
</body>
</html>
<script>

    $(document).ready(function(){
        
        function get_tweets(){
            console.log('{{session["user_id"]}}')
            $.ajax({
                url: '/get_tweets_async/{{session["user_id"]}}',
                method: 'GET',
            }).done(function(response){
                        $('#just_tweets').html(response)
                    })
        }

        setInterval(get_tweets, 3000);
    })



</script>