<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey index</title>
</head>
<body>
    {% with messages = get_flashed_messages() %} 
        {% if messages %}                            
            {% for message in messages %}           
                <p>{{message}}</p>                  
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/survey" method="POST">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: 
            <select name="location">
                {% for location in locations %}
                <option value="{{location.id}}">{{location.location}}</option>
                {% endfor %}
            </select>
        </p>
        <p>Favorite Language:
            <select name="language">
                {% for language in languages %}
                <option value="{{language.id}}">{{language.language}}</option>
                {% endfor %}
            </select>
        </p>
        <p>Comment (optional): <input type="text" name="comment"></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>