<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
</head>
<body>
    <form action="/save_user" method='post'>
        <p>First Name: <input type="text" name="f_name"></p>
        <p>Last Name: <input type="text" name="l_name"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Description: <input type="text" name="description"></p>
        <input type="submit" value="Create">
    </form>
</body>
</html>