<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <style>
        .True { 
            color: green;
        }
        .False {
            color: red;
        }
        #activities {
            height: 200px;
            overflow: scroll;
        }
    </style>
</head>
<body>
    <h2>Your Gold: {{session['gold']}}</h2>

    <form action="/process_money" method="POST">
        <p>Farm - Earns 10 - 20 gold</p>
        <input type="hidden" name="building" value="farm">
        <input type="submit" value="Find Gold!">
    </form>

    <form action="/process_money" method="POST">
        <p>Cave - Earns 5 - 10 gold</p>
        <input type="hidden" name="building" value="cave">
        <input type="submit" value="Find Gold!">
    </form>

    <form action="/process_money" method="POST">
        <p>House - Earns 2 - 5 gold</p>
        <input type="hidden" name="building" value="house">
        <input type="submit" value="Find Gold!">
    </form>

    <form action="/process_money" method="POST">
        <p>Casino - Earns/Takes 0 - 50 gold</p>
        <input type="hidden" name="building" value="casino">
        <input type="submit" value="Find Gold!">
    </form>

    <div id="activities">
        {% for activity in session['activites'] %}
            <p class="{{activity[1]}}">{{activity[0]}}</p>
        {% endfor %}
    </div>
    {% if session['attempts'] >= 15%}
        {{session['result']}}
        <a href="/restart_game"><button>Restart Game</button></a>
    {% endif %}

</body>
</html>