<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweet Details</title>
</head>
<body>
    <h1>Tweet Details</h1>
    <p>Tweet Content: 
        <form action="/on_update/{{tweet.id}}" method="POST">
            <input type="text" name="content" value="{{tweet['content']}}">
            <input type="submit" value="update">
        </form>
         </p>
    <p>Tweet Author: {{tweet.author.first_name}} </p>

    <p>Users who have liked this tweet</p>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_who_have_liked %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>