<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Tweet</title>
</head>
<body>
    <h1>Edit Tweet</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/tweets/{{tweet.id}}/update" method='POST'>
        <input type="text" name='content' value={{tweet.content}}>
        <input type="submit" value="Update">
    </form>
    <a href="/success"><button>Cancel</button></a>
</body>
</html>