<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h1>Users:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.fname}} {{user.lname}}</td>
                    <td>{{user.email}}</td>
                    {% if user.id in followed_users %}
                    <td><a href="/unfollow/{{user.id}}">Unfollow</a></td>
                    {% else %}
                    <td><a href="/follow/{{user.id}}">Follow</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>